{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About The Bookstore</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to online bookstore</p>
        </div>
    </div>
</header>

<!--Extra-->

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
            <br/><br/>   
            <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam imperdiet, diam eu blandit pretium, sapien lorem lacinia ante, 
            non interdum nisl massa nec felis. Maecenas iaculis volutpat velit eget dapibus. 
            Pellentesque metus nisi, vestibulum luctus diam vel, accumsan ornare erat. 
            Sed quis felis euismod lacus varius volutpat. Ut congue est ac sagittis sodales. 
            Praesent ipsum libero, varius sed ornare commodo, facilisis id arcu. 
            Praesent quis luctus eros, ut viverra sapien. Mauris cursus, tortor vel imperdiet tempor, 
            libero dolor ultrices eros, sit amet laoreet tortor dui non mauris.
            Donec blandit, est sit amet volutpat condimentum, elit tellus pharetra enim,
            vel scelerisque leo sapien vitae sapien. Quisque tempus ligula in tellus sodales rhoncus.
            Nunc at faucibus nisl, sit amet faucibus sem. 
            Maecenas eu lorem quis ipsum luctus viverra non sed lorem. 
            Donec et tortor a risus mattis dapibus.
            <br/><br/>
            Aenean scelerisque nisl vel ligula condimentum bibendum.
            Donec elementum sem eget lacus varius auctor.
            Nulla neque erat, cursus non erat sed, luctus viverra ante. 
            Suspendisse accumsan felis sapien, at bibendum dolor tincidunt et. Nam est metus,
            tempor et eleifend eu, semper gravida velit. Quisque nibh lacus, ultrices eu nulla eget, 
            commodo luctus turpis. Etiam tellus magna, porta vel sodales in, ultricies vitae sapien. 
            Ut feugiat tincidunt nulla, ac tempor elit tempor non. Phasellus at mattis enim. 
            Aenean porttitor ut risus nec rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Ut efficitur eros a elit sodales semper.
            <br/><br/>
            </p>
            </div>
        </center>
    </div>    
</div>
{%endblock%}